input {
    keyboard {
        xkb {
            layout "pt"
        }
        repeat-delay 400
        repeat-rate 40
    }
    touchpad {
        tap
        dwt
        accel-speed -0.1
        natural-scroll
        accel-profile "flat"
        scroll-method "two-finger"
    }
    disable-power-key-handling
    warp-mouse-to-focus
}
environment {
    DISPLAY ":0"
    EGL_PLATFORM "wayland"
    MOZ_ENABLE_WAYLAND "1"
    // Electron & Chromium
    NIXOS_OZONE_WL "1"
    ELECTRON_OZONE_PLATFORM_HINT "auto"
    // Qt theming
    QT_QPA_PLATFORM "wayland"
    QT_QPA_PLATFORMTHEME "qt6ct"
    QT_QPA_PLATFORMTHEME_QT6 "qt6ct"
    XDG_SESSION_TYPE "wayland"
    XDG_CURRENT_DESKTOP "niri"
    _JAVA_AWT_WM_NONREPARENTING "1"
}
output "eDP-1" {
    mode "1920x1280@60.001"
    scale 1.5
}
